<div class="container-fluid" vocab="http://purl.org/dc/elements/1.1/">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">          		
              <div id="query-viewer">              		             
					<h2 property="title"><%= query.title %></h2>
					<% if query.description %>
						<p property="description"><%= query.description(true) %></p>
					<% end %>						
					<dl>					
					  <dt>Source File</dt>
					  <dd><code><%= query.path %></code></dd>
					  <% query.author.each do |author| %>
					  <dt>Author</dt>
					  <dd><span property="creator"><%= author %></span></dd>
					  <% end %>
					  <% query.see.each do |see| %>
					  <dt>Link</dt>
					  <dd><a href="<%= see %>"><%= see %></a></dd>
					  <% end %>			  
					  <% if query.tag.length > 0 %> 
					  	<dt>Tag</dt>
					  	<dd>
					  	   <%= query.tag.map{|x| "<span property=\"subject\">#{x}</span>" }.join(", ") %>
					  	</dd>
					  <% end %>							  					  
					</dl>					
					<textarea id="sparql" cols="120" rows="50"><%= query.query %></textarea>
					<script>
					  var editor = CodeMirror.fromTextArea(document.getElementById("sparql"), {
						    height: "250px",
						    width: "250px",
						    autofocus: false,
						    readOnly: true,
						    
						    parserfile: "parsesparql.js",
						    stylesheet: "/sparqlcolors.css",
						    path: "js/",
						    lineNumbers: true
						  });												
					</script>	
					<% if query.endpoint.length > 0 %>
					<h3>Test This Query</h3>
					<p>Try this query against the following endpoints:</p>
					<ul>
					  <% query.endpoint.each do |endpoint| %>
					    <li>
					      <a href="<%=endpoint%>?query=<%= query.query_string %>" target="_blank"><%= endpoint %></a>
					    </li>
					  <% end %>
					</ul> 
					<% end %>
              </div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

	<hr>
	<footer class="footer">Generated with <a href="http://github.com/ldodds/sparql-doc">sparql-doc</a>.</footer>

</div>
